.feedcast__channelInfo,
.feedcast__channelEpisodes {
  background-color: white;
}
.feedcast__channelInfo-header{
  padding: 10px;
  box-sizing: border-box;
  border-bottom: 1px solid var(--lighter-gray2);
  background-color: var(--darker-blue);
  height: 100px;
  position: relative;
}
.feedcast__channelInfo-body{
  padding: 10px;
  padding-top: 40px;
  box-sizing: border-box;
}
.feedcast__channelInfo-img,
.feedcast__channelInfo-title{
  display: inline-block;
}
.feedcast__channelInfo-img{
  width: 100px;
  height: 100px;
  margin-right: 10px;
  float: left;
  border: 1px solid white;
  position: relative;
  transform: translateY(20px);
}
.feedcast__channelInfo-img:before {
  content:"\f2ce";
  position: absolute;
  width: 100px;
  height: 100px;
  display: block;
  background-color: var(--lighter-blue);
  color: white;
  font-family: FontAwesome;
  font-size: 60px;
  text-align: center;
  line-height: 100px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.feedcast__channelInfo-title{
  color: white;
  margin:0;
  position: absolute;
  bottom:5px;
  left:120px;
}
.feedcast__channelInfo-categories a {
  text-decoration: none;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 7px;
  background-color: var(--orange);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: bolder;
}
.feedcast__channelInfo-description{
  text-align: justify;
  text-justify: inter-word;
}

.feedcast__channelEpisodes {
  padding: 10px;
  margin-top: 20px;
  box-sizing: border-box;
}
.feedcast__channelEpisode {
  /*background-color: var(--lighter-gray);*/
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--lighter-gray2)
}

.feedcast__channelEpisode-info-wrapper,
.feedcast__channelEpisode-button-wrapper {
  display: inline-block;
}

.feedcast__channelEpisode-button-wrapper {
  width: 100px;
  min-height: 80px;
  float: left;
  box-sizing: border-box;
  padding: 10px;
}

.feedcast__channelEpisode-button-wrapper button{
  width:60px;
  height:60px;
  margin-left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  border: 0px;
  background-color: white;
  border: 1px solid var(--darker-blue);
  color: var(--darker-blue);
  font-size: 20px;
  cursor: pointer;
  transition: .4s ease all;
}
.feedcast__channelEpisode-button-wrapper button:hover{
  background-color: var(--darker-blue);
  color: white;
}

.feedcast__channelEpisode-info-wrapper {
  width: calc(100% - 100px);
  box-sizing: border-box;
  padding: 10px;
}
.feedcast__channelEpisode-summary {
  margin-bottom: 0px;
}
.feedcast__channelEpisode-summary--see-less {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.feedcast__channelEpisode-info-wrapper h4 {
  margin-top: 0px;
}
.feedcast__channelEpisode-info-wrapper span {
  color: var(--orange);
  border: 1px solid var(--orange);
  background-color: white;
  padding: 0px 5px;
  font-weight: lighter;
  border-radius: 3px;
  float: right;
  margin-top: 20px;
}
.feedcast__channelEpisode-btn-see-more{
  background-color: transparent;
  border: none;
  text-decoration:underline;
  color: var(--lighter-blue);
  cursor: pointer;
}
