@import 'constants'
@import 'mixins'

.feedcast__episodes-list
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  align-items: flex-start;

.feedcast__load-more
  width: 100%;
  display: block;
  h5
    position: relative
    left: 50%
    +transform(translateX(-50%))
    display: inline-block
    margin: 5px 0px
  button
    position: relative
    left: 50%
    +transform(translateX(-50%))
    background-color: white
    border: 1px solid $darker-gray
    color: $darker-gray
    padding: 5px 15px
    border-radius: 5px
    cursor: pointer
    &:hover
      background-color: $darker-gray
      color: white
