@import 'constants'

.feedcast__footer
  position: fixed;
  width: 100%;
  height: 90px;
  background-color: white;
  padding: 0px 10px;
  box-sizing: border-box;
  border-top: 1px solid $lighter-gray;

  &--show
    bottom: 0px;

  &--hide
    bottom: -90px;

    height: 100%

.feedcast__playerFooter
  &-left
    padding-top: 10px
    width: 300px;
    display: inline-block
    .feedcast__player-channel-info
      display: inline-block
      width: calc(100% - 60px)
    .feedcast__player-channel-image
      width: 56px
      height: 56px
      display: inline-block
      float: left
      margin-right: 4px
      img
        margin-top: 5px
        width: 100%
  &-center
    width: calc(100% - 300px)
    display: inline-block

  .feedcast__player-button-wrapper
    margin-top: 5px
    text-align: center
  .feedcast__time-wrapper
    position: relative
    display: inline-block
    width: calc(100%)

    .feedcast__current-time,
    .feedcast__duration
      display: inline-block
      width: 70px
      text-align: center
      font-size: 12px
  .feedcast__player
    &-play-pause,
    &-run-queue,
    &-forward,
    &-backward,
    &-download,
    &-playback-rate
      display: inline-block
      box-sizing: border-box
      border: 1px solid $colorb
      cursor: pointer
      color: $colorb
      margin: 0px 2px
      background: white;
    &-run-queue
      margin-left: 20px

    &-play-pause
      $ppsize : 40px
      line-height: $ppsize / 1.2
      height: $ppsize
      min-width: $ppsize
      text-align: center
      font-size: $ppsize / 3
      border-radius: $ppsize / 2
    &-forward, &-backward, &-download, &-playback-rate, &-run-queue
      $ppsize : 30px
      line-height: 1em
      height: $ppsize
      min-width: $ppsize
      text-align: center
      font-size: $ppsize / 2.5
      border-radius: $ppsize / 2
    &-download
      margin-left: 10px
    &-time
      display: inline-block
      font-size: 12px
      color: white
      font-weight: bolder
      border: 1px solid white
      height: 3px
      line-height: 30px
      text-align: center
      margin: 0px 2px
      width: calc(100% - 150px)
      transform: translateY(0px)
      background-color: #ddd
      cursor: pointer
      &--error
        background-color: red
      &--error span
        background-color: #fafafa
        color: red
      span
        display: none
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        position: absolute
        z-index: 200
        width: 100%
        left: 0
    &-time-bar
      position: absolute
      height: 100%
      background-color: $colorb
      z-index: 100
      &:after
        content: ' '
        display: block
        position: absolute
        right: 0px
        bottom: 0px
        transform: translate(25%, 25%)
        height: 10px
        width: 10px
        border-radius: 50%
        background-color: $colorb
    &-run-queue
      line-height: 30px

  audio
    width: 100%;
  h5
    margin : 10px 0px;
    margin-bottom: 5px;
    font-weight: bolder;
    height: 17px;
    color: #4285f4;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    a
      color: $link-blue
      text-decoration: none
      &:focus,
      &:visited
        color: $link-blue !important
      &:hover
        color: $link-blue !important
        text-decoration: underline !important

@media(min-width: 500px), (min-device-width: 500px)
  .feedcast--sidebar-active
    .feedcast__footer
      z-index: 1000


@media(max-width: 620px), (max-device-width: 620px)
  .feedcast__playerFooter
    $sizeLeft : 30px
    &-left
      padding-top: 10px
      width: 56px;
      display: inline-block
    &-center
      width: calc(100% - 56px)
      display: inline-block
