
.feedcast__footer {
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: #fafafa;
  padding: 0px 10px;
  box-sizing: border-box;
  border-top: 1px solid var(--lighter-gray);
  transition: 1s ease all;
}
.feedcast__footer--show {
  bottom: 0px;
}
.feedcast__footer--hide {
  bottom: -80px;
}


.feedcast__playerFooter audio {
  width: 100%;
}


.feedcast__playerFooter h5 {
  margin : 10px 15px;
  margin-bottom: 0px;
  font-weight: bolder;
  height: 17px;
  color: #4285f4;
}
