.feedcast__search {
  display: inline-block;
  margin-left: 10px;
  width: calc(100% - 50px);
  height: 40px;
  box-sizing: border-box;
}

.feedcast__search-input {
  box-sizing: border-box;
  width: 500px;
  height: 40px;
  border: 0px;
  padding: 0px;
  padding-left: 10px;
  font-size: 17px;
  display: inline-block;
  float: left;
}

.feedcast__search-button {
  padding: 0px;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  border:0px;
  display: inline-block;
  cursor: pointer;
  color: white;
  background-color: #03407D;
}

@media (max-width: 650px){
  .feedcast__search-input {
    width: calc(100% - 70px);
  }
}
